body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.upper_nav {
  background-color: #1560bd;
  height: 35px;
}
.clinic_name{
  font-size: 20px;
  background: rgb(247, 176, 53);
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
  color: #fff;
  margin-right: 150px;
}
.clinic_name:hover{
  font-size: 22px;
  color: rgb(26, 25, 24);
}
nav {
  background-color: #fff; 
  padding: 10px; 
  height: 80px;
}

.left_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width:100%;
}
.right_nav{
    align-items: center;
    justify-content: center;
    display: flex;
}
.right_nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left:-68pc ;
}

.right_nav li {
  margin: 0 10px;
  padding-right: 100px;
  margin-left: 70px;
  
}

.right_nav a {
  text-decoration: none;
  color: #3498db;
  font-weight: bold;
  font-size: 16px; 
  align-items: center;
  justify-content: center;
}

.right_nav a:hover {
  color: #2980b9;
  font-size: 20px;
}

.parent_upper_nav .upper_nav .timing {
  color: #fff;
  font-size: 15px;
  padding: 10px 10px 10px 0px;
}


.phone {
  align-items: flex-start;
}
.upper_nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
}

.rounded_button {
  width: 25px;
  height: 25px;
  background-color: #fff;
  color: #1560bd;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  margin: 10px;
}

.rounded_button:hover {
  width: 30px;
  height: 30px;
  background-color: #13cdca;
  color: #fcfcfc;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  margin: 10px;
}

nav .left_nav .logo {
  align-items: flex-start;
  justify-content: flex-start;
  display: flex;
   height: 78px;
  width: 100px;
  margin-top: 2px;
  margin-left: 50px;
}
.bottom_nav{
  /* border: 1px solid black; */
  height:40px;
  margin-top: -10px;
  background: #0b3569;
}
.bottom_nav{
    align-items: center;
    justify-content: center;
    display: flex;
}
.bottom_nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  

}

.bottom_nav li {
  margin: 0 10px;
  padding-right: 10px;
  margin-left: 70px;
  width: auto;
  
}
.bottom_nav li:hover{
  background-color: #13cdca;
  padding: 10px 10px 10px 10px;
}

.bottom_nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px; 
  align-items: center;
  justify-content: center;
}

.bottom_nav a:hover {
  color: #f5f7f8;
  height: 40px;

  font-size: 15px;
}

.link_before{
  /* border: 1px solid black; */
  height: 70px;
  width: 150px;
  margin-right: 200px;
  margin-bottom: 10px;
 
}
.link_before img{
 height: 70px;
  width: 150px;

}



/* Mobile css */
@media only screen and (max-width: 412px) {
  .bottom_nav{
    max-width: 412px;
  }
  .bottom_nav li {
    font-size:12px;
  width: 412px;
  
}
.parent_upper_nav .upper_nav .timing {
  color: #f6f6f6;
  font-size: 13px;
  margin:20px;
  
}
.time_logo{
  display: none;
}
.bottom_nav ul {
  width:412px;
}

}

